
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>HCI Experiment</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
</head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <!-- <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><u>Human Computer Interaction Experiement</u></h3>
            </div>
          </div> -->

          <div class="inner cover">
            <h1 class="cover-heading">Thank you for participating in the study!</h1>
            <br/>
            <br/>
            <p class="lead" align="left">
              The study involves completing a task similar to what you would do in a commonly used website.<br/><br/>
              The task involves paying a false internet provider bill. You will use the website as if you were paying a real bill online but will not be asked to provide real information such as payment details. The task is not timed and typically takes about 5 minutes. <br/><br/>
              The purpose of the experiment is to test usability of a website and not to determine how smart or computer literate you are.  The purpose is to test how well the website functions from a design perspective.  There will be a questionnaire at the end of the experiment.  Actions performed on the website will be recorded as well as responses to the exit questionnaire.  <br/><br/>
              You have the right to withdrawal from the experiment at any time without penalty.  <br/><br/>
              The results from the study will be used in a report for a project at the University of Nebraska at Omaha.  Personal information about yourself and the data collected during the study will not be released.  The information collected will not include uniquely identifying information such as your name or email.  Your confidentiality during and after the experiment will be protected.  <br/><br/>
              Once you have read the description of the study and understand your rights as a participant, <u>click the button below to start</u>.

            </p>
            <br/>
            <br/>
            <p>
              <a class="btn btn-lg btn-primary" href="{% url 'polls:userOption' %}" role="button">Start the Experiment &raquo;</a>
            </p>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    
  </body>
</html>
