<!DOCTYPE html>
<html lang="en">
<head>
  <title>Independent Cable - Experiment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Independent Cable</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>            
          </ul>
        </div>
      </div>
    </nav>

    <div class="progress" id="progressDiv">
      <div
      id="progressBar"
      class="progress-bar progress-bar-success"
      role="progressbar" 
      aria-valuenow="0" 
      aria-valuemin="0" 
      aria-valuemax="100" 
      data-transitiongoal="100"
      style="width:90%">
      </div>
    </div>
  </div>
</div>



<div class="container well" align="center">
  <div id="errorAlert" style="display:none">
    <div class="alert alert-danger" role="alert" >
      An error occurred while processing your request.  A developer has been automatically contacted and will be fixing the problem shortly.  <br/>
      <strong>Please try pressing continue again.</strong>
    </div>
  </div>

  <div id="validateAlert" style="display:none">
    <div class="alert alert-info" role="alert">  
      <strong>A payment method must be selected.</strong>
    </div>
  </div>


<!-- <div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    An error occurred while processing your request.  A developer has been automatically contacted and will be fixing the problem shortly.<br/>
  Please try pressing continue again.
</div> -->

  <div class="row"> 
    <div class="col-xs-12" style="height:40px">
      <b>Choose a payment method : </b>
      <select id="paymentOption">
        <option></option>
        <option value="creditCard">Cedit Card ending in 1234</option>
        <option value="debitCard">Debit Card ending in 9876</option>
        <option value="bankAccount">Bank Account ending in 8513</option>
      </select>
    </div>
  </div>
  <a class="btn btn-primary" role="button" onclick="continueCick();">Continue</a>
  <a class="btn btn-default"
      role="button"
      data-target="#myModal"
      data-toggle="modal">Cancel</a>

</div>

<div class="container">    
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>            
        </div>
        <div class="modal-body">
          <p>Do you want to cancel your progress?</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" role="button" data-dismiss="modal">No</a>
          <a class="btn btn-default" role="button" href="{% url 'polls:index' %}">Yes</a>
        </div>
      </div>      
    </div>
  </div>
</div>

<br/>
<br/>
<div class="container">
	<footer>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<p>&copy; Independent Cable, Inc. &middot; <a href="">Privacy</a> &middot; <a href="">Terms</a></p>
	</footer>
</div>


<script language="javascript">
  var continueClickCount = 0;

  function continueCick() {
    if(validateForm()) {
      if(continueClickCount == 0) {
        document.getElementById("errorAlert").style.display = "inline";
        continueClickCount++;
      } else {
        //document.getElementById("errorAlert").style.display = "none";        
       //navigate to next step
       window.location.href = "{% url 'polls:approval' %}";
      }
    }
  }

  function validateForm() {
    //check if payment selected
    var paymentOptionValue = document.getElementById("paymentOption").value;   
    if(paymentOptionValue == null || paymentOptionValue == "") {
      //show alert
      document.getElementById("validateAlert").style.display = "inline";
      return false;
    }
    document.getElementById("validateAlert").style.display = "none";
    return true;

  }


  var progressBar = document.getElementById("progressBar");

  //move progress bar to 100%
  var width = 90;
  var id = setInterval(frame, 1);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
      document.getElementById("progressDiv").style.display = "none";
    } else {
      width += 10;
      progressBar.style.width = width + '%';

      
      //progressBar.style.visibility = "hidden";
    }
  }
</script>